.about-heading{
    font-size: 42px;
    font-family: "Bree-serif";
    color: navy;
}
.about-page{
    padding:18px;
}
.para-heading{
    font-size: 32px;
    font-family: "Caveat";
    color:navy;
    font-weight: 700;
}
.list-heading{
    font-size: 24px;
    font-family: "Bree-serif";
    color: black;
    font-weight: normal;
}